.dialog-outer{
    margin-bottom: 20px;
    /*text-shadow: 0 1px 0 #c3c0af;*/
    box-shadow: 0 0px 1px #807f7c;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);;*/
    background-color: #fbfbfb;
    border: 1px solid #b8b5a6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;font-size: 14px; font-family: "microsoft yahei";
    position: absolute; width: 330px; height: 140px; z-index: 1000; top: 55px; left: 835px;padding: 10px 10px 15px;
}
.dialog-title{ position: relative;}
.dialog-title .dialog-close{ position: absolute; right: -2px; _right: 8px; top: -2px;}
.dialog-content{ min-height: 81px; margin: 10px 0 5px; overflow: auto; height: 81px;}
.dialog-btn{ float: right;}
.dialog-btn button{ background-color: #f9f9f9; width: 68px; line-height: 26px; height: 29px; color: #000;text-shadow: 0 1px 0 #fff; font-weight: bold; border: 1px solid #3b79ed; border-radius: 2px; margin:0 2px; cursor: pointer;
    -webkit-transition:text-shadow 500ms ease-in 0ms, color 300ms ease-in 0ms;
    -moz-transition:text-shadow 500ms ease-in 0ms, color 300ms ease-in 0ms;
    -ms-transition:text-shadow 500ms ease-in 0ms, color 300ms ease-in 0ms;
    -o-transition:text-shadow 500ms ease-in 0ms, color 300ms ease-in 0ms;
    transition:text-shadow 500ms ease-in 0ms, color 300ms ease-in 0ms;
}
.dialog-btn button:hover{text-shadow: 0 1px 0 #000; color: #000;}
.dialog-btn .dialog-ok{ width: 78px; background-color: #199970; color: #fff;text-shadow: 0 1px 0 #000;border: 1px solid #00422d; }
.dialog-close { display: inline-block; font-family: "microsoft yahei";
    float: right;
    font-size: 20px;
    *font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20); cursor: pointer;
    border: 1px solid #fbfbfb; padding: 0 4px 1px 2px;
}
.dialog-close:hover, .dialog-cancel:hover, .dialog-btn button:hover{ color: green; border: 1px solid green;}

.d-mask{
   z-index: 3; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%;overflow: hidden;
    display: block;
    opacity: 0.5; filter:alpha(opacity=50);
    background-color: #fff;
    /*background:url("../images/ie6_opacity.png") repeat;*/
    filter: alpha(opacity=50); moz-opacity: 0.5; opacity: 0.5;
    _height:768px;

}


